html {
  min-height: 100%;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/009/939/124/medium/justin-mccollum-seancetable-justinmccollum-reduced.jpg?1521671720");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
